summary:focus {
  outline: none;
}

html {
  font-family: 'Playfair Display', serif;
  color: black;
  margin: auto;
}

body {
  /*grid-template-areas:
    "header header-text-a header header header header header header header header header-text-b header"
    "header header header header header header header header header header header header"
    "header header header header header header header header header header header header";
  grid-template-columns: repeat (12, 1fr);*/
  width: 100vw;
}


header {
  background: linear-gradient(to bottom right, #F9D39D, #FF7ECC, #64F5FF);
  height: 60vh;
  width: 100vw;
  position: relative;
}

p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: black;
  padding-left: 170px;
  font-weight: lighter;
  width: 800px;
  margin: auto;
}


h5 {
  line-height: 120%;
  font-size: 1.7rem;
  color: black;
  letter-spacing: 0.2rem;
  font-weight: lighter;
  text-align: center;
  margin-right: 5vw;
  margin-left: 5vw;
}

h6 {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: black;
  padding-left: 170px;
  font-weight: bolder;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 800px;
  margin: auto;
}


.name h1 {
  padding-top: 30px;
  text-align: right;
  letter-spacing: 0.2rem;
  padding-left: 50px;
  color: white;
  font-weight: lighter;
  font-size: 1.3em;
}

.name a {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: white;
  text-align: right;
  padding-right: 50px;
  font-weight: lighter;
  padding-top: 30px;
}

.header h1 {
  padding-top: 1rem;
  font-size: 10em;
  color: white;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: lighter;
  margin: auto;
  z-index: 3;
  position: relative;
  animation-name: header;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.header h1:hover {
  animation-play-state: paused;
}

@keyframes header {
  0% {
    letter-spacing: 2rem;
  }

  25% {
    letter-spacing: 5rem;
  }



  90%{
    letter-spacing: -1rem;
  }
}

.header h2 {
  text-align: center;
  text
  letter-spacing: 0.2rem;
  color: black;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: lighter;
}



article {
  display: flex;
  background-image: linear-gradient(to bottom right, rgba(249,211,157,0.3), rgba(255,126,204,0.3), rgba(100,245,255,0.3));
  height: 50vh;
  width: 100vw;
  margin: auto;
  color: black;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  transition: all 5s ease;
}


article:hover {
    background-image: linear-gradient(to bottom right, rgba(249,211,157,1), rgba(255,126,204,1), rgba(100,245,255,1));
}


.piss {
  letter-spacing: 0.5rem;
}

.friends {
  letter-spacing: -0.1rem;
}

.give {
  letter-spacing: 0.2rem;
}

.migraine {
  letter-spacing: 1rem;
}



.gruppe h1 {
  padding-top: 2rem;
  font-size: 2rem;
  color: black;
  margin-left: 70px;
  font-weight: lighter;
}

.special {
  background-image: linear-gradient(120deg, #E588FF 0%, #54E9FF 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
}

.playfair {

  background-image: linear-gradient(120deg, #E588FF 0%, #54E9FF 100%);
  background-repeat: no-repeat;
  background-size: 14rem 0.3em;
  background-position: 0 88%;
}

.schriftfam {

  background-image: linear-gradient(120deg, #E588FF 0%, #54E9FF 100%);
  background-repeat: no-repeat;
  background-size: 14rem 0.3em;
  background-position: 0 88%;
}

.glyphen {

  background-image: linear-gradient(120deg, #E588FF 0%, #54E9FF 100%);
  background-repeat: no-repeat;
  background-size: 14rem 0.3em;
  background-position: 0 88%;
}

.quellen {

  background-image: linear-gradient(120deg, #E588FF 0%, #54E9FF 100%);
  background-repeat: no-repeat;
  background-size: 14rem 0.3em;
  background-position: 0 88%;
}

section {
  width: 100vw;
}

.schriftfamilie img {
  width: 800px;
  display: grid;
  padding-left: 170px;
  margin: auto;
}

ol {
  width: 800px;
  display: grid;
  padding-left: 170px;
  margin: auto;
  list-style-type: circle;
  color: black;
  padding-bottom: 150px;
  text-decoration: none;
}
a {
  color: #906CFF;
  line-height: 1.4rem;
}
a:hover {
  color: #64F5FF;
}

.footer h4 {
  text-align: center;
  font-weight: lighter;
  margin: auto;
  padding-bottom: 20px;
  font-size: 0.7em;
  color: #FCA9B4;
  letter-spacing: 0.05rem;
}

/*
@media only screen and (max-width: 1200px) {

  p {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: black;
    padding-left: 5vw;
    font-weight: lighter;
    width: 80vw;
    margin: auto;
  }

  h6 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: black;
    padding-left: 5vw;
    font-weight: bolder;
  }

  .gruppe h1 {
    padding-top: 2rem;
    font-size: 2rem;
    color: black;
    margin-left: 5vw;
    font-weight: lighter;
  }

} */

@media only screen and (max-width: 1200px) {

  header {
    height: 60vh;
    width: 100vw;
  }

  .header h1 {
    padding-top: 1rem;
    font-size: 5em;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: lighter;
    margin: auto;
    z-index: 3;
    padding-top: 10vh;
  }

  @keyframes header {
    0% {
      letter-spacing: 0.2rem;
    }

    25% {
      letter-spacing: 0.5rem;
    }



    90%{
      letter-spacing: -1rem;
    }
  }

  p {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: black;
    padding-left: 5vw;
    font-weight: lighter;
    width: 80vw;
    margin: auto;
  }

  .schriftfamilie img {
    width: 80vw;
    display: grid;
    padding-left: 5vw;
    margin: auto;
  }

  .gruppe h1 {
    padding-top: 2rem;
    font-size: 2rem;
    color: black;
    margin-left: 5vw;
    font-weight: lighter;
  }

  h6 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: black;
    padding-left: 5vw;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 80vw;
  }

  article {
    display: flex;
    background-image: linear-gradient(to bottom right, rgba(249,211,157,0.3), rgba(255,126,204,0.3), rgba(100,245,255,0.3));
    height: 50vh;
    width: 100vw;
    color: black;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    transition: all 5s ease;
  }

  h5 {
    line-height: 120%;
    font-size: 1.2rem;
    color: black;
    letter-spacing: 0.2rem;
    font-weight: lighter;
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .piss {
    letter-spacing: 0.5rem;
  }

  .friends {
    letter-spacing: -0.1rem;
  }

  .give {
    letter-spacing: 0.2rem;
  }

  .migraine {
    letter-spacing: 1rem;
  }

  ol {
    width: 800px;
    display: grid;
    padding-left: 6vw;
    margin: auto;
    list-style-type: circle;
    color: black;
    padding-bottom: 150px;
    text-decoration: none;
    width: 80vw;
  }

}
